// '_' => indicates it's not our main file: naming convention

// Colors

$primary:#21c266;
$primary-hover:#45EBA5;

$secondary: #F8F8F8;

$pure: #fff;

$dark: #232323;

$gray: #ccc;

$toast: #055052;



// Transition

$smooth: all .3s ease-in-out;
